<template>
    <v-container>
        <v-row>
            <v-col>
                <h1 class="title">Welcome To Don't Panic</h1>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-autocomplete
                    v-model="selectedTags"
                    :items="tags"
                    filled
                    chips
                    color="blue-grey lighten-2"
                    label="Select tags for searching"
                    multiple
                    :menu-props="autoCompleteOptions"
                    >
                    <template v-slot:selection="data">
                        <v-chip
                            v-bind="data.attrs"
                            :input-value="data.selected"
                            close
                            @click:close="remove(data.item)"
                            >
                            {{ data.item }}
                        </v-chip>
                    </template>
                </v-autocomplete>
            </v-col>
            <v-col>
                <v-slider
                    v-model="dateSlider"
                    :thumb-size="50"
                    min="0"
                    max="230"
                    thumb-label="always"
                    @end="onDateSelected"
                    >
                    <template v-slot:thumb-label="{ value }">
                        {{ parseDate(value) }}
                    </template>
                </v-slider>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <Countries 
                    :tags="selectedTags"
                    :date="targetDay"
                />
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import moment from 'moment';
import Countries from '../components/Countries.vue'

const MAX_DATES_TICK = 230;
export default {
    name: 'MapView',
    components: {
        Countries
    },
    data() {
        return {
            autoCompleteOptions: {
                "closeOnContentClick": true
            },
            selectedTags: [],
            tags: ["corona", "covid", "virus"],
            dateSlider: MAX_DATES_TICK,
            targetDay: moment()
        }
    },
    methods: {
        parseDate: value => {
            const minusDays = MAX_DATES_TICK - value;
            const today = moment();
            return today.subtract(minusDays, 'day').format('DD/MM');
        },
        onDateSelected: async function(value) {
            const minusDays = MAX_DATES_TICK - value;
            const today = moment();
            this.targetDay = today.subtract(minusDays, 'day');
        },
        remove (tag) {
            const index = this.selectedTags.indexOf(tag);
            if (index >= 0) this.selectedTags.splice(index, 1)
        }
    }
}
</script>

<style scoped lang="scss">
.title {
    text-align: center;
}

</style>
