<template>
    <div class="cities-main">
        <GChart
            :settings="citiesSettings"
            type="GeoChart"
            :data="citiesData"
            :options="citiesOptions"
            :events="citiesEvents"
            ref="citiesChart"
            />
    </div>
</template>

<script>
import { GChart } from 'vue-google-charts'
import MarkersService from "../services/markers.service";

export default {
    name: 'Cities',
    props: {
        countryData: Object,
        tags: Array,
        date: Object,
    },
    components: {
        GChart
    },
    created() {
        this.citiesOptions.region = this.$props.countryData.iso2;
    },
    data() {
        return {
            citiesSettings: {
                packages: ['geochart'],
                mapsApiKey: "AIzaSyBaCw8JJp6aQvBluaXOHAW21iYMzUTaMnE"
            },
            citiesData: [['City', 'Safety Score']],
            citiesOptions: {
                chart: {
                    title: 'Cities Safety Score',
                    subtitle: 'Score based on 0% to 100%',
                    animation: { startup: true }
                },
                region: '',
                displayMode: 'markers',
                colorAxis: {
                    colors: ['#de1111', '#007ccf', '#4cc61e'],
                    minValue: 0,
                    maxValue: 1,
                },
                sizeAxis: {
                    minValue: 0,
                    maxValue: 1,
                },
                datalessRegionColor: '#f5f5f5',
                backgroundColor: '#007ccf'
            },
            citiesEvents: {
                'select': () => {

                }
            }

        }
    },
    methods: {
        loadData: async function () {
            const resp = await MarkersService.getMarkersByCity(
                this.$props.countryData.country,
                this.$props.tags,
                this.$props.date.toISOString()
            );

            const data = [];
            if (resp.data) {
                resp.data.forEach(marker => {
                    const isNewsSentimentNull = marker.newsSentiment === null
                    const isTwitterSentimentNull = marker.twitterSentiment === null
                    let totalSentiment = 0;

                    if (!isNewsSentimentNull && !isTwitterSentimentNull) {
                        totalSentiment = (marker.newsSentiment + marker.twitterSentiment)/2
                    }

                    if (isNewsSentimentNull) {
                        totalSentiment = marker.twitterSentiment;
                    }

                    if (isTwitterSentimentNull) {
                        totalSentiment = marker.newsSentiment
                    }


                    // data.push([marker.target, marker.twitterSentiment, marker.newsSentiment]); -->
                    data.push([marker.target,  totalSentiment ]);
                });
                //this.citiesData = [['City', 'Twitter Sentiment', 'News Sentiment'], ...data];
                this.citiesData = [['City', 'Total Sentiment (Avg of News and Twitter Sentiment)'], ...data];
            }

        }
    },
    mounted () {
        this.loadData();
    },
    watch: {
        tags: function() {
            this.loadData();
        },
        date: function () {
            this.loadData();
        }
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.cities-main {
    width: 100%;
    height: 100%;
}

</style>
