
<template>
    <div class="countries-main">
        <GChart
            :settings="countriesSettings"
            type="GeoChart"
            :data="countriesData"
            :options="countriesOptions"
            :events="countriesEvents"
            ref="countriesChart"
            v-if="!isCitiesVisible"
            />
        <Cities 
            v-if="isCitiesVisible"
            :countryData="selectedCountry"
            :tags="$props.tags"
            :date="$props.date"
        />
        <div class="button-wrapper">
            <v-btn class='go-back' v-if="isCitiesVisible" @click="isCitiesVisible = false">
                Go Back
            </v-btn>
        </div>
    </div>
</template>

<script>
import { GChart } from 'vue-google-charts'
import Cities from '@/components/Cities.vue'
const lookup = require('country-code-lookup')
import MarkersService from '../services/markers.service';

export default {
    name: 'Countries',
    props: {
        tags: Array,
        date: Object
    },
    components: {
        GChart,
        Cities
    },
    data() {
        return {
            selectedCountry: '',
            isCitiesVisible: false,
            selectedRegionISO2: 'IT',
            countriesSettings: {
                packages: ['geochart'],
                mapsApiKey: "AIzaSyA8fSkflH-hfWx_6O1fZjzl2tg8TmC-KZA"
            },
            countriesData: [],
            countriesOptions: {
                chart: {
                    title: 'World Safety Scores',
                    subtitle: 'Representing how safe is every country feeling from corona',
                    animation: { startup: true }
                },
                colorAxis: {
                    colors: ['#de1111', '#007ccf', '#4cc61e'],
                    minValue: 0,
                    maxValue: 1,
                },
                sizeAxis: {
                    minValue: 0,
                    maxValue: 1,
                },
                region: '150',
                datalessRegionColor: '#f5f5f5',
                backgroundColor: '#007ccf'
            },
            countriesEvents: {
                'select': () => {
                    const table = this.$refs.countriesChart.chartObject
                    let selection = table.getSelection()
                    if (selection.length > 0) {
                        const index = selection[0].row + 1
                        const country = this.countriesData[index][0]
                        this.selectedCountry = lookup.byCountry(country);
                    }
                    this.isCitiesVisible = true;
                }
            },
        }
    },
    mounted () {
        this.loadData();
    },
    watch: {
        tags: function() {
            this.loadData();
        },
        date: function () {
            this.loadData();
        }
    },
    methods: {
      loadData: async function () {
          const resp = await MarkersService.getMarkersByCountry(this.$props.tags, this.$props.date.toISOString());
          const data = [];
          if (resp.data) {
              resp.data.forEach(marker => {
                  data.push([marker.target, marker.newsSentiment, marker.twitterSentiment]);
              });
              this.countriesData = [['Country', 'News Sentiment', 'Twitter Sentiment'], ...data];
          }
      }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.countries-main {
    width: 100%;
    height: 100%;
}

.button-wrapper {
    text-align: center;
    padding-bottom: 20px;
}

.go-back {
    margin:  0px auto;
}

</style>
